body {
    background-color: silver;
}
section {
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 1px 1px 7px 7px rgba(0, 0, 0, 0.2);
    margin: 15px auto;
    padding: 10px;
}
h1 {
    font-family: "Pacifico", cursive;
    font-size: 100px;
}
h2 {
    font-family: "Meow Script", cursive;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}
h3 {
    margin: 0px, 20px, 0px, 20px;
    font-family: "Anton", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}
footer {
    padding: 10px;
}
.container {
    display: block;
    text-align: center;
}
.mainFont {
    font-family: "Roboto Condensed", sans-serif;
}
.football-badge {
    filter: grayscale(80%);
}
.football-badge:hover {
    filter: none;
}
.music {
    margin-bottom: 5px;
}
